<!DOCTYPE html>
<!----Comentariu
-->
<html lang="ro">

<head>
    <%- include("../fragmente/head.ejs") %>
    <title>MyWheel</title>
</head>

<body>
    <%- include("../fragmente/header.ejs") %>
    <main>
    </main>

    <%- include("../fragmente/footer.ejs") %>
</body>

</html>