html{
    font-size: 18px;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


#grid-pagina{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    gap: 1rem;
    grid-template-areas: "welcome               welcome              welcome"
                         "welcome               welcome              welcome"
                         "calendar-evenimente   orar                 anunturi"
                         "utilizatori           orar                 anunturi"
                         "utilizatori           date-utilizatori     date-site";
    overflow:unset;
}



#grid-pagina>*{
    outline: 2px solid #ffc300;
    padding: 1em;
}



#welcome{
    grid-area: welcome;
}

#tab-orar{
    grid-area: orar;
}

#calendar-evenimente{
    grid-area: calendar-evenimente;
}

#anunturi{
    grid-area: anunturi;
}

#utilizatori{
    grid-area: utilizatori;
}

#date-utilizatori{
    grid-area: date-utilizatori;
}

#date-site{
    grid-area: date-site;
}

#restul{
    grid-area: restul;
}


#clipuri-video{
    grid-area: clipuri-video;
}

#oferte{
    grid-area: oferte;
}



#intrebari_frecvente{
    grid-area: intrebari_frecvente;
}

#oferte_speciale{
    grid-area: oferte_speciale;
}

#sectiuni_explicative{
    grid-area: sectiuni_explicative;
}

#frecvente{
    grid-area: frecvente;
}

#iframe{
    grid-area: iframe;
}


@media screen and (max-width:1000px){

    html{
        font-size: 15px;
    }

    #grid-pagina{
        grid-template-columns: repeat(2,1fr);   /*1fr 1fr 1fr ;*/
        grid-template-areas: "welcome  welcome"
                             "promotii promotii"
                             "orar orar"
                             "fig1 produse "
                             "fig2 produse "
                             "fig3 produse "
                             "index-intrebari index-intrebari "
                             "anunturi anunturi ";
    }
}

@media screen and (max-width:700px){

    html{
        font-size: 12px;
    }

    #grid-pagina{
        display: block;
    }
}



/* Stiluri pentru grid-ul galeriei */
#grid-galerie {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Trei coloane egale */
    gap: 10px; /* Spațiu între imagini */
    padding: 20px;
    counter-reset: gallery-counter; /* Resetăm counter-ul */
}

#grid-galerie figcaption {
    text-align: center;
}

#grid-galerie figure {
    position: relative; /* Asigurăm o bază pentru poziționarea absolută a pseudoelementului */
    overflow: hidden; /* Ascundem colțurile rotunjite care ies în afara imaginii */
    border-radius: 15px; /* Colțuri rotunjite */
    transition: transform 0.1s ease, opacity 0.1s ease; /* Tranziție pentru scalare și opacitate */
}

#grid-galerie figure:hover {
    transform: scale(1.4); /* Scălare cu 40% față de centrul laturii de sus */
    opacity: 0.5; /* Opacitate redusă */
}

#grid-galerie figure::before {
    counter-increment: gallery-counter; /* Incrementăm counter-ul */
    content: counter(gallery-counter, lower-roman) ". "; /* Adăugăm counter-ul în format roman */
    color: white; /* Schimbăm culoarea numărătorii în alb */
}

/* Definim grid-area pentru fiecare figură */
#grid-galerie > figure:nth-child(1) {
    grid-area: 1/1/2/2;
}

#grid-galerie > figure:nth-child(2) {
    grid-area: 1/2/2/3;
}

#grid-galerie > figure:nth-child(3) {
    grid-area: 1/3/2/4;
}

#grid-galerie > figure:nth-child(4) {
    grid-area: 2/1/3/2;
}

#grid-galerie > figure:nth-child(5) {
    grid-area: 2/3/3/4;
}

#grid-galerie > figure:nth-child(6) {
    grid-area: 3/1/4/2;
}

#grid-galerie > figure:nth-child(7) {
    grid-area: 3/2/4/3;
}

#grid-galerie > figure:nth-child(8) {
    grid-area: 3/3/4/4;
}

#grid-galerie > figure:nth-child(9) {
    grid-area: 4/1/5/2;
}

#grid-galerie > figure:nth-child(10) {
    grid-area: 4/3/5/4;
}

#grid-galerie > figure:nth-child(11) {
    grid-area: 5/1/6/2;
}

#grid-galerie > figure:nth-child(12) {
    grid-area: 5/2/6/3;
}

#grid-galerie > figure:nth-child(13) {
    grid-area: 5/3/6/4;
}

/* Stiluri pentru ecran mediu */
@media (max-width: 1024px) {
    #grid-galerie {
        grid-template-columns: repeat(2, 1fr); /* Două coloane egale */
    }
}

/* Stiluri pentru ecran mic */
@media (max-width: 600px) {
    #grid-galerie {
        grid-template-columns: 1fr; /* O coloană */
    }
}
