#ch-menu{
  display: none;
}
#hamburger {
  img {
    display: none;
  }
}

.meniu {
  display: flex;
  padding-left: 0;
  background-color: #ffcc00;

  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
    text-align: center;
    min-width: 6em;
    background-color: #ffcc00;

    a {
      display: block;
      cursor: pointer;
      line-height: 40px;
      color: #000;
      text-decoration: none;
      transition: all 1s linear;
      
      &:hover {
        background-color: darken(#ffcc00, 10%);
        color: #fff;
      }
    }

    #casuta {
      cursor: pointer;
      line-height: 40px;
      color: #000;
      text-decoration: none;
      align-items: center;
      justify-content: center;
      display: flex;
      gap: 5px;

      #acasa {
        opacity: 0;
      }

      &:hover {
        #acasa{
          opacity: 1;
          transition: opacity 1s;
        }
        color: #fff;
      }
    }

    &:hover > ul {
      display: block;
      position: absolute;
      z-index: 100;
      opacity: 0;
      transform: scale(0);
      transform-origin: top;
    }
  }

  ul {
    display: none;
    animation: animatie_submeniu 0.7s linear 1 forwards;
  }
}

@keyframes animatie_submeniu {
  100% {
    opacity: 1;
    transform: scale(1,1);
  }
}
