nav {
    --inaltime-meniu: 2.5em;
    --latime-buton: 150px;
    height: var(--inaltime-meniu);
    background-color: var(--culoare-deschisa);
}



// Variabilele pentru culori și înălțimea meniului
$culoare-text: #000;
$culoare-text-selectat: #fff;
$culoare-inchisa: #ffcc00;
$inaltime-meniu: 40px;

// Stiluri pentru elementele meniului
#acasa-mediu {
    display: none;
}

.meniu {
    display: flex;

    ul {
        list-style-type: none; // elimină punctul din fața elementelor din meniu
        padding: 0;
        margin: 0;
    }

    li {
        text-align: center;
        box-sizing: border-box;
        background-color: $culoare-inchisa;

        div,
        a {
            display: block;
            width: 100%;
            height: 100%;
            cursor: pointer;
            line-height: $inaltime-meniu;
            color: $culoare-text;
            text-decoration: none;
            box-sizing: border-box;
            transition: all 1s linear;

            &:hover {
                background-color: darken($culoare-inchisa, 10%);
                color: $culoare-text-selectat;
            }
        }

        &:hover > div,
        &:hover > a {
            background-color: $culoare-inchisa;
            color: $culoare-text-selectat;
        }

        &:hover > ul {
            display: block;
            position: absolute;
            z-index: 100;
            opacity: 0;
            transform: scaleY(0);
            transform-origin: center top;
        }
    }

    // Submeniu
    ul {
        display: none;
        animation: animatie_submeniu 1s linear 1 forwards;
    }
}


@keyframes animatie_submeniu {
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}