#hamburger {
  img {
    display: none;
  }
}

.meniu {
  list-style-type: none;
  display: flex;
  align-items: center;
  background-color: #ffcc00;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    list-style-type: none;
    text-align: center;
    box-sizing: border-box;
    margin-right: 10px;
    min-width: 6em;
    background-color: #ffcc00;

    a {
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer;
      line-height: 40px;
      color: #000;
      text-decoration: none;
      box-sizing: border-box;
      transition: all 1s linear;

      &:hover {
        background-color: darken(#ffcc00, 10%);
        color: #fff;
      }
    }

    #casuta {
      text-align: center;
      width: 100%;
      height: 100%;
      cursor: pointer;
      line-height: 40px;
      color: #000;
      text-decoration: none;
      box-sizing: border-box;
      transition: all 1s linear;
      align-items: center;
      display: flex;
      gap: 5px;

      #acasa {
        opacity: 0;
        transition: opacity 1s ease;
      }

      &:hover {
        #acasa {
          opacity: 1;
        }

        background-color: darken(#ffcc00, 10%);
        color: #fff;
      }
    }


    &:hover>ul {
      display: block;
      position: absolute;
      z-index: 100;
      opacity: 0;
      transform: scale(0);
      transform-origin: top;
    }
  }

  ul {
    display: none;
    animation: animatie_submeniu 1s linear 1 forwards;
  }
}


@keyframes animatie_submeniu {
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}