body{
    --culoare1:#000814;
    --culoare2:#001D3D;
    --culoare3:#003566;
    --culoare4:#ffc300;
    --culoare5:#ffd60a;
    --culoare6:white;
    background-color: #001D3D;
}

h1{
    color: white;
}

body p{
    color: white;
}


tr{
    color: white;
}

h2{
    color: #ffc300;
}

h3{
    color: #ffc300;
}

footer{
    color: white;
}

q{
    font-style: italic;
}

figcaption{
    color: white;
}

.atentionare {
    color: red;
    font-weight: bold;
}

.download-btn {
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
  }
  
  .download-btn:hover {
    background-color: #0056b3; 
  }