<footer>
    <div>
        <a href="./resurse/imagini/favi.jpg" class="download-btn" download>Descarcă Favicon</a>
        <i class="fa-solid fa-download animated-icon"></i>
    </div>


    <address>
        Telefon: <a href="tel:+123456789">+123456789</a><br>
        Adresă: <a href="https://www.google.com/maps?q=Facultatea+de+Matematica+si+Informatica"
            target="_blank">Facultatea de Matematica si Informatica</a><br>
        E-mail: <a href="mailto:contact@example.com">contact@example.com</a><br>
        <a href="skype:utilizatorul_skype?chat">Chat pe Skype</a><br>
        <a href="https://api.whatsapp.com/send?phone=123456789">Chat pe WhatsApp</a><br>
    </address>

    <small>&copy; <time datetime="2024-03-15">2024</time> Compania MyWheel. Toate drepturile rezervate.</small>
    <!-- Link către începutul paginii -->
    <p> <a href="#welcome">Începutul paginii</a>
    </p>
</footer>