<header>
        <h1>MyWheel - Magazinul tau favorit de <b>jante</b></h1>
        <p class="Intro" style="color:#ffd60a; text-decoration: underline;">Va multumim ca ne vizitati site-ul!</p>


        <label id="hamburger" for="ch-menu">
            <!--<img src="./resurse/imagini/Hamburger_icon_alb.png" alt="menu">
        -->
            <a class="bar"></a>
            <a class="bar"></a>
            <a class="bar"></a>
        </label>
        <input id="ch-menu" type="checkbox">
        <ul class="meniu">
            <li>
                <div id="casuta">
                    <span class="fas fa-regular fa-house">
                    </span>
                    <div id="acasa">
                        <a href="index">Acasa</a>
                    </div>
                </div>
                <ul>
                    <li><a href="/index#welcome">Bine ati venit</a></li>
                    <li><a href="/index#tab-orar"> Program</a></li>
                    <li><a href="/index#Oferte"> Oferte!</a></li>
                </ul>
            </li>

            <li><a href="/jante">Jante</a></li>
            <li><a href="/accesorii">Accesorii</a></li>
            <li><a href="/servicii">Servicii</a></li>
            <li><a href="/oferte_speciale">Oferte speciale</a></li>
        </ul>   
    </header>

    <div id="banner">Nume Prenume</div>
    <div id="watermark">
        <p>Nume Prenume</p>
    </div>
    <div id="end"></div>


    <a href="#" title="mergi sus" id="link-top">
        <div id="sageata">
            <p>
                &#129081;
            </p>
        </div>
    </a>
